<%- include("../includes/header.ejs") %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
    <%if(errors.length > 0){%>
        <div class="show-error">
            <p> <%= errors[0].message %></p>
        </div>
    <%}%>
    <%if(successfully.length > 0){%>
        <div class="show-success">
            <p> <%= successfully[0].message %></p>
        </div>
    <%}%>
    <div class= "form-login center">
        <h1 class="center">Account Login</h1>
        <form action="/login" method="POST">
            <div class = "row">
                <div class="label-auth">
                    <label for="email" >Email:</label>
                </div>
                <div class="input-auth">
                    <input type="email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="label-auth">
                    <label for="password" >password:</label>
                </div>
                <div class="input-auth">
                    <input type="password" name="password">
                </div>
            </div>
            <div>
                <button class="btn">Login</button>
            </div>
        </form>
    </div>
    <%- include("../includes/end.ejs")%>