<nav class="main-nav">
  <ul class="main-nav-list nav-left">
    <li class="main-nav-item main-nav-item--logo"><a href="/">VIDJOT</a></li>
    <li class="main-nav-item">
      <a class="<%= path === '/' ? 'active' :'' %>" href="/">Home</a>
    </li>
    <li class="main-nav-item">
      <a class="<%= path === '/about' ? 'active' :'' %>" href="/about">About</a>
    </li>
  </ul>

  <%if(!isAuthentication){%>
  <ul class="main-nav-list nav-right">
    <li class="main-nav-item">
      <a class="<%= path === '/login' ? 'active' :'' %>" href="/login">Login</a>
    </li>
    <li class="main-nav-item">
      <a class="<%= path === '/signup' ? 'active' :'' %>" href="/signup"
        >Signup</a
      >
    </li>
  </ul>
  <%}else if(isAuthentication){%>
  <ul class="main-nav-list nav-right">
    <li class="main-nav-item">
      <a class="<%= path === '/ideas' ? 'active' :'' %>" href="/ideas">Ideas</a>
    </li>
    <li class="main-nav-item">
      <a class="<%= path === '/ideas/add' ? 'active' :'' %>" href="/ideas/add"
        >Add Idea</a
      >
    </li>
    <li class="main-nav-item">
      <div class="btn btn-delete">
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
          <input type="hidden" name="logout" value="yes" />
        </form>
      </div>
    </li>
  </ul>
  <%}%>
</nav>
