<%- include("../includes/header.ejs") %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
    <h3>Video Idea</h3>
    <%if(errors.length > 0){%>
        <div class="show-error">
            <p> <%= errors[0].message %></p>
        </div>
    <%}%>
    <div class="center contener">
        <form action="/ideas" method="POST">
            <div class="row">
                <div class="label-text">
                    <label for="title">Title:</label>
                </div>
                <div class="input-text">
                    <input type="text" name="title"  placeholder="Enter Title" value= "<%=!idea.title ? '' : idea.title%>">
                </div>
            </div>
            <div class="row">
                <div class="label-text">
                    <label for="description">Description:</label>
                </div>
                <div class="input-text">
                    <textarea name="description" id="description" placeholder="Write Something..." style="height: 200px"><%=!idea.details ? '' : idea.details %></textarea>
                </div>
            </div>
                <%if(path === "/edit"){%>
                    <button class="btn" type="submit">Edit Idea</button>
               <%}else{%>
                    <button class="btn" type="submit">Add Idea</button>
                <%}%>

                <% if (path = "/edit") { %>
                    <input type="hidden" value="<%= idea._id %>" name="ideaId">
                <%}%>
            </div>
        </form>
    </div>


<%- include("../includes/end.ejs")%>